.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.section-wrapper {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
