.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}

.section-wrapper {
  max-width: 60%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
