.date-place {
  display: flex;
  gap: 20px;
  border-bottom: var(--size-divider) solid var(--color-divider-1);
  width: 85%;
  justify-content: space-between;
}

.section1 {
  border: var(--size-divider) solid var(--color-divider-1);
  border-radius: 40px;
  padding: 36px;
}

.names {
  display: flex;
  justify-content: center;
  font-family: "Beau Rivage", Arial, sans-serif;
  font-size: calc(5vw + 10px);
  font-weight: 300;
}

.item-top {
  color: var(--color-text-1);
  font-size: var(--size-text-1);
  text-align: center;
}

.item-bottom {
  color: var(--color-text-2);
  font-size: var(--size-text-2);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0px;
}

.text-1,
.text-2 {
  font-size: var(--size-text-2);
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 30vw;
  border-top-right-radius: 30vw;
  padding: 0 5%;
}

@media screen and (min-width: 768px) {
  img {
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
  }
}

.text p {
  text-align: center;
  margin: 16px 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Tablet layout (769px to 1200px) */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .date-place {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    justify-items: center;
  }

  .date-place .container:first-child {
    grid-row: 1;
    grid-column: 1 / span 2;
    justify-self: center;
  }

  .date-place .container:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }

  .date-place .container:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
}

/* Mobile layout (below 768px) */
@media screen and (max-width: 900px) {
  .date-place {
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
  }
}
