.date-place {
  display: flex;
  gap: 20px;
  border-bottom: var(--size-divider) solid var(--color-divider-1);
  width: 70%;
  justify-content: space-between;
}

.section1 {
  border: var(--size-divider) solid var(--color-divider-1);
  border-radius: 10px;
  padding: 10px;
}

.names {
  display: flex;
  justify-content: center;
}

.item-top {
  color: var(--color-text-1);
  font-size: var(--size-text-1);
}

.item-bottom {
  color: var(--color-text-2);
  font-size: var(--size-text-2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
